@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To BnB for cheap, where we offer you the cheapest places to stay in Durban</a></p>
</div>
